<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns="http://www.w3.org/1999/xhtml"
    lang="{{ lang|default('fr') }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width">
        <style>
            html, body {
                margin: 0;
                padding: 0;
            }
            .mail-body, .mail-footer {
                padding: 1em;
            }
            .mail-link {
                display: inline-block;
                padding: .5em;
                color: #FFFFFF;
                background: #673BB7;
                border-radius: .5em;
                text-decoration: none;
            }
            .mail-footer {
                background: #D3D3D3;
            }
        </style>
    </head>
    <body>
        <div
            class="mail-body"
            style="padding: 1em;">
            {% block body %}{% endblock %}
        </div>
        <div
            class="mail-footer"
            style="padding: 1em;background: #D3D3D3;">
            {% block footer %}{% endblock %}
        </div>
    </body>
</html>