{% extends "/mails/mail-base.html.twig" %}

{% block body %}
    <h3>{% trans %}reset_pwd.title{% endtrans %}</h3>
    <p>
        {% trans with {'%name%': name} %}reset_pwd.process{% endtrans %}
    </p>
    <a
        href="{{ url }}"
        class="mail-link"
        style="color: #FFFFFF; display: inline-block; padding: .5em; background: #673BB7; border-radius: .5em;text-decoration: none;">
        {% trans %}reset_pwd.link{% endtrans %}
    </a>
    <br>
    <p>
        {% trans %}reset_pwd.process_alt{% endtrans %}
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock %}

{% block footer %}
    <p>
        {% trans %}unwanted_msg{% endtrans %}:
        <a href="mailto:{{ contact }}">{{ contact }}</a>
    </p>
{% endblock %}