{% extends "/mails/mail-base.html.twig" %}

{% block body %}
    <p>{{ message }}</p>
    <a
        href="{{ url }}"
        class="mail-link"
        style="color: #FFFFFF; display: inline-block; padding: .5em; background: #673BB7; border-radius: .5em;text-decoration: none;">
        {{ action }}
    </a>
{% endblock %}

{% block footer %}
    <p>{% trans %}updates.manage_prefs.process{% endtrans %}</p>
    <a href="{{ prefsUrl }}">{% trans %}updates.manage_prefs.link{% endtrans %}</a>
{% endblock %}